Created by Ahsan Shakeel Malik
ahsan.shakeel@isb.nu.edu.pk

# Lab 02

### Revision:
* Introduction
* Variables and Data Types
* Reserved Words
* Assignment Operator
* Type Command
* Arithmetic Operators
* Comparison Operators
* Strings
* String Functions
* Functions
### New Concepts
* List Functions
* List Comprehensions
* 2D Lists
* Exercises

## Introduction
In this lab, you'll learn about essential concepts like variables, operators, strings, and lists in Python. These fundamental concepts form the building blocks of programming and are crucial to understanding more complex topics.

## Variables and Data Types
* int: Integer numbers
* float: Floating-point numbers
* str: Strings (text)
* bool: Boolean values (True or False)

In [1]:
data="this is my data"
id_no=234
present=True
percentage=68.78

print(data, id_no, present, percentage)

this is my data 234 True 68.78

## Reserved Words
Reserved words are words that have special meanings in Python and cannot be used as variable names. Examples include if, else, while, for, and more.

## Assignment Operator
The assignment operator (=) is used to assign a value to a variable.

## Type Function
The type() function is used to determine the data type of a variable.

In [2]:
x=type(data)
print(x)

<class 'str'>

## Arithmetic Operators
Arithmetic operators perform mathematical operations:

* +, -, *, /: Addition, subtraction, multiplication, division
* %: Modulus (remainder)
* **: Exponentiation (power)
* //: Floor division (division with the result rounded down)

In [3]:
x=56
y=78
sum=x+y
exp=23 ** 4
fd=y//x

print(sum, exp,fd)

134 279841 1

## Comparison Operators
Comparison operators are used to compare values:

* ==: Equal to
* !=: Not equal to
* <, >, <=, >=: Less than, greater than, less than or equal to, greater than or equal to

## Strings
Strings are sequences of characters enclosed in single (' ') or double (" ") quotes.

String Functions:

* len(): Returns the length of a string.
* replace(): Replaces a substring with another substring.
* Indexing: Access individual characters using index values.
* Slicing: Extract a substring using slicing notation, e.g., [start:end].

In [4]:
name="Ammar"
name=name.replace('h','H')

print(name)
print("length = ", len(name))
print(name[2:])
print(name[4])

Ammar
length =  5
mar
r

## 1D Lists
Lists are ordered collections of items. Lists can contain elements of different types.

List Functions:

* range(): Generates a sequence of numbers.
* append(): Adds an item to the end of the list.
* insert(): Inserts an item at a specific index.
* Indexing: Access individual items using index values.
* Slicing: Extract a sublist using slicing notation, e.g., [start:end].

In [5]:
lst=[]
lst=[23,"data",True]
print(lst)

lst.insert(2,False)
print(lst)

lst.append("minimum")
print("list = ", lst)
print(lst[:2])

[23, 'data', True]
[23, 'data', False, True]
list =  [23, 'data', False, True, 'minimum']
[23, 'data']

## Functions
Python functions are defined using the def keyword. For example:

In [6]:
def sign(x):
    if x > 0:
        return 'positive'
    elif x < 0:
        return 'negative'
    else:
        return 'zero'

In [7]:
print(sign(-5))

negative

We will often define functions to take optional keyword arguments (default arguments), like this:

In [8]:
def hello(name, loud=False):
    if loud:
        print('HELLO, {}'.format(name.upper()))
    else:
        print('Hellllllllo, {}!'.format(name))

hello('Muhammad')
hello('Ammar!', loud=True)

Hellllllllo, Muhammad!
HELLO, AMMAR!

In [9]:
def square(x):
  return x ** 2

def multiply(a, b):
  return a * b

# Functions can be composed.
square(multiply(3, 2))

36

In [10]:
def multi_values(x):
    y=x ** 2
    z=y ** 2
    
    return y,z  # you can return multiple values in python

b=multi_values(5)
print(' {}'.format(b))

 (25, 625)

## Task 1
Write a function factorial(n) that returns the factorial & number(n) both. Test it with various values if the function is called without a value then it should take 5 as default argument.

In [11]:
x =  int(input("Enter a number"))
type(x)

Enter a number 5

int

## Lists
A list is a collection of values enclosed in square brackets []. It can hold elements of different types.

### List Characteristics:

* Lists are ordered collections.
* Lists are mutable (can be changed after creation).
* Lists can contain duplicate elements.

In [12]:
my_list = [1, 2, 3, 'apple', 'banana'] # creating a list

print(my_list) #print a list
print(my_list[3]) # print values from index 3 
print(my_list[2:5]) # print values from index 2 to 5 (5 exclusive)

[1, 2, 3, 'apple', 'banana']
apple
[3, 'apple', 'banana']

In [13]:
for i in my_list: # iterate list by loop
    print(i)

1
2
3
apple
banana

## Learn the following syntax

In [14]:
numbers = [1, 2, 3, 4, 5]
for x in numbers:
    print(x)

1
2
3
4
5

### List Comprehension

In [15]:
numbers = [1, 2, 3, 4, 5]
squared = [x**2 for x in numbers]
print(squared)          # Output: [1, 4, 9, 16, 25]

[1, 4, 9, 16, 25]

In [16]:
names = ["Moiz","Rehan","Mansoor","Ahmed"]
fiveCharacterNames = [name for name in names if len(name)==5]
fiveCharacterNames

['Rehan', 'Ahmed']

### Task
using list comprehension make another list "longNames" that contains all those names having length > 5

### Task
In this list comprehension exercise you will practice using list comprehension to filter out the even numbers from a series of numbers.   
First, use list comprehension to convert the list_of_strings to a list of integers called numbers.   
Then use list comprehension again to create a new list called result.
This new list should only contain the even numbers from the list numbers. 
use Python's List Comprehension instead of a Loop. 

Numbers: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
Result (even numbers): [2, 4, 6, 8, 10]

In [3]:
numbers = [1,2,3,4,5,6,7,8,9,10]

even = [i for i in numbers if i % 2== 0]

print(even)

[2, 4, 6, 8, 10]

## Negative Indexing of a string/list starts from -1, -2 ....

In [17]:
str = "abcde"
print(str[-1])
print(str[-2])

list = [1,2,3,4,5]
print(list[-1])

e
d
5

## Task 2
Calculate the Mean Absolute Error (MAE) between the actual_values and predicted_values lists. 
## Hint 
Use the formula given below, where n is the number of elements in the lists. You are not allowed to use any library

In [9]:
# MAE = (1/n) * Σ|actual_values[i] - predicted_values[i]|
actual_values = [23, 11, 19, 24, 17, 22, 20, 18, 25, 21]
predicted_values = [20, 12, 18, 26, 19, 24, 21, 19, 23, 20]

mean = 0

for i in range(0,len(actual_values)):
    mean = mean + actual_values[i] - predicted_values[i]

mean = mean/len(actual_values)

print(mean)

-0.2

## Task 3 (Union of two lists)
Write a function(list1,list2) that print the union of two lists. Use of any built in library isn't allowed.

In [6]:
def union(list1,list2):
    return list1+list2

In [10]:
list1 = [1, 2, 3, 4, 5, 6]
list2 = [4, 5, 6, 7, 8, 9]
# call the function
output = union(list1,list2)

print(output)
# Output: [1, 2, 3, 4, 5, 6, 7, 8, 9]

[1, 2, 3, 4, 5, 6, 4, 5, 6, 7, 8, 9]

Further operations on lists are here:

* append()   : Used for appending and adding elements to the end of the List. 

* copy()     : It returns a copy of a list.        

* clear()    : This method is used for removing all items from the list.   

* count()    : These methods count the elements.                            

* extend()   : Adds each element of the iterable to the end of the List.     

* index()    : Returns the lowest index where the element appears.           

* insert()   : Inserts a given element at a given index in a list.          

* pop()      : Removes and returns the last value from the List or the given index value. 

* remove()   : Removes a given object from the List.                        

* reverse()  : Reverses objects of the List in place.                       

* sort()     : Sort a List in ascending, descending, or user-defined order. 

* min()      : Calculates the minimum of all the elements of the List.      

* max()      : Calculates the maximum of all the elements of the List.

## 2D Lists
## Task 3 (Find Pairs in Matrix)
Task is to implement findPairsWithSum(int targetValue) method to display pairs (with in a matrix) that sum to a given target value. Please look at the following example to understand the question. Please note that there is no repetition.

## Important
You are NOT allowed to make a temporary array, it means don’t copy matrix items in a 1D or any temporary storage, then make & print the combinations easily. Don’t even think about that. Make combinations by traversing a matrix using nested loop(s).

In [21]:
# Initliaze a matrix like following
# 1 2 3 4
# 5 6 7 8
# 9 10 11 12
# 13 14 15 16
# Testing code for target value = 12 i.e call findPairsWithSum(int targetValue)
# 1 and 11
# 2 and 10
# 3 and 9
# 4 and 8
# 5 and 7

# YOUR CODE HERE

## Announcement Preview
You're developing an announcement preview tool for a messaging platform. The tool needs to provide a concise preview of longer messages.

### Task 4:
Given a message: "Join us for the webinar on Aug 30, 2023, 2:00 PM (GMT)", perform the following tasks:

* Calculate the length of the message.
* Replace the word "webinar" with "online session".
* Extract the date "Aug 30, 2023".
* Create a shortened preview containing only the first 40 characters.
* Extract time.

Print all the results

In [22]:
# YOUR CODE HERE

## Fitness Progress Tracker
You're developing a fitness progress tracker that records different exercises performed each day.

### Task 5:
Given exercise logs: ['Running', 'Push-ups', 'Yoga', 'Swimming'], perform the following tasks:

* Create an empty log for cardio exercises.
* Append 'Cycling' to the cardio log.
* Insert 'Plank' as the second exercise in the log.
* Extract the exercise 'Yoga' from the list.
* Create a brief cardio log containing only the first two exercises.
* Extract all items from list
* Extract  all items except first and last from list

Print all the results.

In [23]:
# YOUR CODE HERE

## TASK 6 

You are given a 2 lists list1 = ['a','b','c','d'] and list2 = [1,2,3,4]. Use these lists to create a dictionary such that the items 
in list1 are the keys and the items in list2 are the value in the new dictionary.

In [24]:
# YOUR CODE HERE

## TASK 7

You are given a dictionary student_info where student IDs are keys, and their names, ages,
and GPAs are values. Write a function print_ages that takes this dictionary as input and prints
the ages of all students along with their corresponding IDs.
Dictionary will look like this:

## students = {
## 101: {"name": "Alice", "age": 20, "gpa": 3.5},
## 102: {"name": "Bob", "age": 21, "gpa": 3.8},
## 103: {"name": "Charlie", "age": 19, "gpa": 3.2}
## }

## TASK-8
Given a string s consisting of words and spaces, return the length of the last word in the string.

In [25]:
# Your Code Here